main {
	article {
		background: var(--background);

		.content {
			padding: 1rem 2rem;
		}
	}

	.post {
		border: 5px solid var(--nav);
		margin-bottom: 2rem;

		h2 {
			text-align: center;
			margin: 0.5rem;
			padding: 0 1rem;
		}

		p {
			line-height: 1.5rem;
		}

		figure {
			margin: 0;
			padding: 0 1rem;

			@media (min-width: 768px) {
				padding: 0 6rem;
			}
		}

		ol {
			padding: 0 1rem;
			line-height: 1.5rem;
			list-style-type: decimal;
		}
	}

	img {
		width: 100%;
		height: auto;
	}
}

.comments-block {
	border-top: 2.5px solid var(--nav);
	padding-top: 1rem;
	margin: 0 1.5rem;

	.comments-list {
		list-style: none;
		padding: 0;
	}
	.comment-replies {
		margin-left: 20px;
		list-style: none;
		padding-left: 15px;
		border-left: 2px solid var(--nav);
	}
	.comment-reply {
		margin-top: 10px;
		padding: 5px;
		background: #f9f9f9;
		border-radius: 3px;
	}
}
