main {
	article {
		background: var(--background);

		.content {
			padding: 1rem 2rem;
		}
	}

	.post {
		border: 5px solid var(--nav);
		margin-bottom: 2rem;

		h2 {
			text-align: center;
			margin: 0.5rem;
			padding: 0 1rem;
		}

		p {
			line-height: 1.5rem;

			&.response {
				text-align: center;
			}
		}

		figure {
			margin: 0;
			padding: 0 1rem;

			@media (min-width: 768px) {
				padding: 0 6rem;
			}
		}

		ol {
			padding: 0 1rem;
			line-height: 1.5rem;
			list-style-type: decimal;
		}

		@media (min-width: 768px) {
			min-width: 500px;
		}

		@media (min-width: 1024px) {
			min-width: 700px;
		}

		@media (min-width: 1200px) {
			min-width: 900px;
		}
	}

	img {
		width: 100%;
		height: auto;
	}
}

.comments-block {
	border-top: 2.5px solid var(--nav);
	padding-top: 1rem;
	margin: 0 1.5rem;

	.comments-list {
		list-style: none;
		padding: 0;
	}
	.comment-replies {
		margin-left: 20px;
		list-style: none;
		padding-left: 15px;
		border-left: 2px solid var(--nav);
		margin-bottom: 10px;
	}
	.comment-reply {
		margin-top: 10px;
		padding: 5px;
		background: #f9f9f9;
	}

	.reply-button {
		margin-bottom: 1rem;
	}
}

.older-posts {
	text-align: center;
	margin: 0 0 2rem 0;

	button {
		background: var(--nav);
		color: var(--background);
		padding: 0.5rem 1rem;
		border: none;
		cursor: pointer;
	}
}

.archive-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 2rem;
	flex-direction: column;

	ul {
		list-style: none;
		padding: 0;
		text-align: center;
	}
}

.comment-link {
	margin: 0 auto 2rem;
	text-align: center;

	a {
		text-align: center;
	}
}

form {
	label {
		margin: 0.5rem 0;
		min-width: 250px;
		display: flex;
		align-items: baseline;
		justify-content: center;
		flex-direction: column;
		gap: 0.5rem;

		@media (min-width: 768px) {
			flex-direction: row;
		}
	}

	input {
		width: 100%;
		padding: 0.5rem;
		border: 1px solid var(--nav);
		border-radius: 4px;
	}
}
