main {
	article {
		background: var(--background);

		.content {
			padding: 1rem 2rem;
		}
	}

	.post {
		border: 5px solid var(--nav);
		margin-bottom: 1rem;

		h2 {
			text-align: center;
			margin: 0.5rem;
			padding: 0 1rem;
		}

		p {
			line-height: 1.5rem;
		}

		figure {
			margin: 0;
			padding: 0 1rem;

			@media (min-width: 768px) {
				padding: 0 6rem;
			}
		}

		ol {
			padding: 0 1rem;
			line-height: 1.5rem;
			list-style-type: decimal;
		}
	}

	img {
		width: 100%;
		height: auto;
	}
}
